@use "../../styles/common";
.btn {
  border-radius: 8px;
  font-size: 1.25em;
  color: common.$color-btnText;
}
.btn-primary {
  background-color: common.$color-add;
  padding: 16px;
}
.btn-secondary {
  background-color: common.$color-done;
  padding: 8px;
}
.btn-adjacent {
  background-color: common.$color-remove;
  padding: 8px;
}