@use "../../styles/common";

.add-task {
  display: flex;
  justify-content: center;
  #task-title {
    padding: 10px 30px;
    color: common.$color-text;
    font-size: 1.25em;
    border: 1px solid common.$color-outline;
    border-radius: 5px;
  }
}
