$color-add: #626ED9;
$color-remove: #C64444;
$color-done: #ECBB5B;
$color-text: #BABABA;
$color-undone: #ECBB5B8D;
$color-text-unchecked: #BABABA8D;
$color-bg: #202020;
$color-outline: #373737;
$color-white: #FFFFFF;;
$font-main: "Rubik", sans-serif;